// Chat content container
.chatContainerStyle {
  display: flex;
  flex-direction: column;
  height: 100%
}

// Chat content placeholder
// e.g display loading icon
// display welcome message
.chatContentPlaceholderStyle {  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;  
  padding-top: 33vh;
}

// ChatContent
.chatAreaStyle {
  flex: 1;
  overflow-y: auto;
  background-color: #ecf0f1
}

// ChatSending Textbox
.chatSenderDivStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 65px;
  padding-left: 16px
}

// Chat Message Sender
.chatMessageSender {
  color: #2c3e50;
  font-weight: 2;
  font-size: 16px;
}

.chatMessageBlockheight {
  color: #7f8c8d;
  font-size: 12px;
}

// Chat Message Content
.chatMessageContent {
  color: #34495e;
  font-size: 14px;
}